<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yale Against Humanity</title>
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#00356b">
        <link rel="stylesheet" href="/static/stylesheets/main.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block logo %}
            <h1>Yale Against Humanity</h1>
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="http://yalerecord.org">Yale Record</a>.
        </footer>
    </body>
</html>
